<h3>Hệ thống quản lý sinh viên</h3>
<%if(typeof success !== 'undefined' && success == true) {%>
    <p>Thêm thành công</p>
<%}%>
<hr>
<h4>Thêm mới sinh viên</h4>
<p><a href="/students">Trở về danh sách sinh viên</a></p>
<div>
    <form action="/student" method="POST">
        <input type="text" name="mssv" placeholder="Nhập vào mssv" required>
        <% if(typeof errors !== 'undefined' && errors.mssvError) {%>
            <p><%=errors.mssvError%></p>
        <%}%>
        <input type="text" name="name" placeholder="Nhập vào tên sinh viên" required>
        <%if(typeof errors !== 'undefined' && errors.nameError) {%>
            <p><%=errors.nameError%></p>
        <%}%>
        <input type="text" name="dateOfBirth" placeholder="Nhập vào ngày sinh" required>
        <%if(typeof errors !== 'undefined' && errors.dateOfBirthError) {%>
            <p><%=errors.dateOfBirthError%></p>
        <%}%>
        <input type="radio" name="gender" value="Nam" checked>
        <input type="radio" name="gender" value="Nu">
        <%if(typeof errors !== 'undefined' && errors.genderError) {%>
            <p><%=errors.genderError%></p>
        <%}%>
        <input type="text" name="address" placeholder="Nhập vào địa chỉ" required>
        <%if(typeof errors !== 'undefined' && errors.addressError) {%>
            <p><%=errors.addressError%></p>
        <%}%>
        <input type="submit" value="Nhập">
    </form>
</div>