<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Danh sach sinh vien</title>
	<link rel="stylesheet" href="importer.css">
	<!--ma sao linhk file javascript lai la href nhi to tuong la src='' chu-->
	<script type="text/javascript" src="js.js"></script>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>
	<div id="main">
		<header><h2>Hệ thống quản lý sinh viên</h2></header><!-- endheader -->
		<div id="content">
			<div id="top">
				<!-- <span>Danh sách sinh viên</span> -->
				<button type="" name="btnthem" id="btnthem"><a href="/add-student">Thêm sinh viên mới</a></button>
				
			</div>
			<div id="middle">
				
				<div>
					<p>Đang xem <%=currentStudentCount%>/<%=totalStudentCount%></p>
					
				</div>
				<form action="/students" method="GET">
					<button type="submit" id="btntk">Tìm</button>
					<input type="text" name="searchString" id="tk" value="<%=searchString%>" placeholder="Tìm theo tên, mã sinh viên..">
					<input type="hidden" name="fromSearch" value="true">
					<table cellpadding="7">
						<caption>Danh sách sinh viên</caption>
						<thead>
								<th>Mã sv
									<select name="">
										<option>Sắp tăng dần</option>
										<option>Sắp giảm dần</option>
									</select>
								</th>
								<th>Họ tên
										<select name="">
												<option>Sắp tăng dần</option>
												<option>Sắp giảm dần</option>
											</select>
								</th>
								<th>Ngày sinh
										<select name="">
												<option>Sắp tăng dần</option>
												<option>Sắp giảm dần</option>
											</select>
								</th>
								<th>Giới tính</th>
								<th>Địa chỉ</th>
							</tr>
						</thead>
						<tbody>
							
							<%students.forEach(function(student) {%>
								<tr>
									<td><%=student.mssv%></td>
									<td><a href="/student/<%=student.mssv%>"><%=student.name%></a></td>
									<td><%=student.dateOfBirth%></td>
									<td><%=student.gender%></td>
									<td><%=student.address%></td>
									
								</tr>
							<%})%>
						</tbody>
					</table>
				</form>
				
				<div class="page-number">
					<ul>
						<%if(typeof searchString !== 'undefined' && searchString) {%>
							<li><a href="/students?page_number=1&record_count=<%=record_count%>&searchString=<%=searchString%>">First</a></li>
							<li><a href="/students?page_number=<%=prev%>&record_count=<%=record_count%>&searchString=<%=searchString%>"><<</a></li>
							
							<%for (let i = start; i <= end; i ++) {%>
								<li><a href="/students?page_number=<%=i%>&record_count=<%=record_count%>&searchString=<%=searchString%>"><%=i%></a></li>
							<%}%>

							<li><a href="/students?page_number=<%=next%>&record_count=<%=record_count%>&searchString=<%=searchString%>">>></a></li>
							<li><a href="/students?page_number=<%=last%>&record_count=<%=record_count%>&searchString=<%=searchString%>">Last</a></li>
						<%} else {%>
							<li><a href="/students?page_number=1&record_count=<%=record_count%>">First</a></li>
							<li><a href="/students?page_number=<%=prev%>&record_count=<%=record_count%>"><<</a></li>
							
							<%for (let i = start; i <= end; i ++) {%>
								<li><a href="/students?page_number=<%=i%>&record_count=<%=record_count%>"><%=i%></a></li>
							<%}%>

							<li><a href="/students?page_number=<%=next%>&record_count=<%=record_count%>">>></a></li>
							<li><a href="/students?page_number=<%=last%>&record_count=<%=record_count%>">Last</a></li>
						<%}%>	
					  
					</ul>
				</div>
				
			</div><!-- endmiddle -->
		</div><!-- endcontent -->
		<footer></footer><!-- endfooter -->
	</div><!-- endmain -->
	
</body>
</html>