<h3>Hệ thống quản lý sinh viên</h3>
<hr>
<h4>Sửa thông tinh sinh viên</h4>
<div>
    <form action="/update-student" method="POST">
        <input type="text" name="mssv" value="<%=student.mssv%>" readonly>
        <%if(mssvError) {%>
            <p><%=mssvError%></p>
        <%}%>
        <input type="text" name="name" value="<%=student.name%>" required>
        <%if(nameError) {%>
            <p><%=nameError%></p>
        <%}%>
        <input type="text" name="dateOfBirth" value="<%=student.dateOfBirth%>" required>
        <%if(dateOfBirthError) {%>
            <p><%=dateOfBirthError%></p>
        <%}%>
        <input type="text" name="gender" value="<%=student.gender%>" required>
        <%if(genderError) {%>
            <p><%=genderError%></p>
        <%}%>
        <input type="text" name="address" value="<%=student.address%>" required>
        <%if(addressError) {%>
            <p><%=addressError%></p>
        <%}%>
        <input type="button" value="Xóa">
        <input type="submit" value="Sửa">
    </form>
</div>