<h3>Hệ thống quản lý sinh viên</h3>
<hr>
<%if(typeof success !== 'undefined' && success == true) {%>
    <p>Sửa thành công</p>
<%}%>
<h4>Sửa thông tinh sinh viên</h4>
<p><a href="/students">Trở về danh sách sinh viên</a></p>
<div>
    <form action="/update-student" method="POST">
        <input type="text" name="mssv" value="<%=student.mssv%>" readonly>
        <% if(typeof errors !== 'undefined' && errors.mssvError) {%>
            <p><%=errors.mssvError%></p>
        <%}%>
        <input type="text" name="name" value="<%=student.name%>" required>
        <%if(typeof errors !== 'undefined' && errors.nameError) {%>
            <p><%=errors.nameError%></p>
        <%}%>
        <input type="text" name="dateOfBirth" value="<%=student.dateOfBirth%>" required>
        <%if(typeof errors !== 'undefined' && errors.dateOfBirthError) {%>
            <p><%=errors.dateOfBirthError%></p>
        <%}%>
        <%if(student.gender === 'Nam'){%>
            <label for="gender">Nam</label>
            <input type="radio" name="gender" value="Nam" checked>
            <label for="gender">Nữ</label>
            <input type="radio" name="gender" value="Nu">
        <%} else {%>
            <label for="gender">Nam</label>
            <input type="radio" name="gender" value="Nam">
            <label for="gender">Nữ</label>
            <input type="radio" name="gender" value="Nu" checked>
        <%}%>
        
        <%if(typeof errors !== 'undefined' && errors.genderError) {%>
            <p><%=errors.genderError%></p>
        <%}%>
        <input type="text" name="address" value="<%=student.address%>" required>
        <%if(typeof errors !== 'undefined' && errors.addressError) {%>
            <p><%=errors.addressError%></p>
        <%}%>
        <button><a href="/delete-student?mssv=<%=student.mssv%>&name=<%=student.name%>">Xóa</a></button>
        <input type="submit" value="Sửa">
    </form>
</div>