<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<title>Sửa sinh viên </title>
<link rel="stylesheet" type="text/css" href="style.css" />
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="title">
		<h1>Hệ thống quản lý sinh viên</h1>
		<hr>
	</div>
	<div id="loginpanelwrap">
		<h3 id="ds">
			<a href="/students">Trở về danh sách sinh viên</a>
		</h3>
		<h4>
			<% if(typeof success !== 'undefined' && success==true) {%>
				<p>Cập nhật thành công</p>
			<%}%>
		</h4>
		<div class="loginheader">
    		<div class="logintitle">Sửa sinh viên </div>
    	</div>
		<div class="loginform">
			<form action="/update-student" method="POST">
				<div class="loginform_row">
					<label>Mã sinh viên:</label><span></span>
					<input type="text"  class="loginform_input" name="mssv"  id="masv" value="<%=student.mssv%>" readonly>
					<div id="error">
						<% if(typeof errors !== 'undefined' && errors.mssvError) {%>
							<p><%=errors.mssvError%></p>
						<%}%>
					</div>
				</div>
				<div class="loginform_row">
					<label>Họ và tên:</label><span></span>
					<input type="text" class="loginform_input" name="name" value="<%=student.name%>" id="txt_name">
					<div id="errorht">
						<%if(typeof errors !== 'undefined' && errors.nameError) {%>
							<p><%=errors.nameError%></p>
						<%}%>
					</div>
				</div>
				<div class="loginform_row">
					<label>Ngày sinh:</label><span></span>
					<input type="date" name="dateOfBirth" value="<%=student.dateOfBirth%>" id="txt_ns" class="loginform_input">
					
					<div id="errorns">
						<%if(typeof errors !== 'undefined' && errors.dateOfBirthError) {%>
							<p><%=errors.dateOfBirthError%></p>
						<%}%>
					</div>
				</div>
				<div class="loginform_row">
					<label>Giới tính:</label>
					<%if(student.gender === 'Nam'){%>
						<input type="radio" name="gender" value="Nam" checked>Nam
						<input type="radio" name="gender" value="Nu">Nữ
					<%} else {%>
						<input type="radio" name="gender" value="Nam">Nam
						<input type="radio" name="gender" value="Nu" checked>Nữ
					<%}%>
					
					<div class="error">
						<%if(typeof errors !== 'undefined' && errors.genderError) {%>
							<p><%=errors.genderError%></p>
						<%}%>
					</div>
				</div>
				<div class="loginform_row">
					<label>Địa chỉ:</label><span></span>

					<input type="text" class="loginform_input"  id="txt_dc" name="address" value="<%=student.address%>" >
					<div id="errordc">
						<%if(typeof errors !== 'undefined' && errors.addressError) {%>
							<p><%=errors.addressError%></p>
						<%}%>
					</div>
				</div>
				<div class="loginform_row">
					<input type="submit" class="loginform_submit" value="Sửa" name="btnLogin" onclick="return check2();" />
					<button style="float: none;margin-left: 296px;" class="loginform_submit" >
						<a  href="/delete-student?mssv=<%=student.mssv%>&name=<%=student.name%>">Xóa</a>
					</button>
				</div>
				<div class="clear"></div>
			</form>
		</div>
	</div>
<script type="text/javascript" src="js.js"></script>

    	
</body>
</html>